
//put boostrap variables here
@import '~bootstrap';
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
// @import bg-img-1 fromx'../img/bg-1.jpeg';

 
$bg-img-1: url("../assest/img/bg-1.jpeg");
// $bg-img-2: url("../assest/img/bg-2.jpg");
// $bg-img-3: url("../assest/img/bg-3.jpg");
// $bg-img-4: url("../assest/img/bg-4.jpg");
// $bg-img-5: url("../assest/img/bg-5.jpg");
    
$component-mt: 7px;

$color-primary: #372A3F;
$color-secondary: #78c9ba;

.componenent_layout_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
};





.instagram-title{
    font-family: piedra;
    font-size: 26px;
    // text-decoration-color: white;
}






//;
$color-dark: #f7b160;


$color: #CB7767 ;
$color1: #af81c4;
$color-bg: #8C8B91;

