
//put boostrap variables here
@import '~bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

$component-mt: 7px;

$color-primary: #372A3F;
$color-secondary: #78c9ba;

.componenent_layout_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
};


.instagram-title{
    font-family: piedra;
    font-size: 26px;
}






$color-dark: #f7b160;


$color: #CB7767 ;
$color1: #af81c4;
$color-bg: #8C8B91;

