@import '../assest/styles/base.scss';

.Feed{
    height: 84vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    @include media-breakpoint-up(md){
        height: 90vh; 
    }
}