@import '../../../assest/styles/base.scss';

.CommentCreate{
    height: 50px;
    width: 100%;
    // z-index: 2;
    // position: fixed;

    // border-top: 2px dashed $color-secondary;
    // border-bottom: 2px dashed $color-secondary;
    // box-shadow:     0px -9px 12px 0px rgba($color: $color-primary, $alpha: 0.81);
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // margin: 8px 0;
    // position: absolute;
    // top: 0;
    // background-color: rgba($color: $color-primary, $alpha: 0.1);
    // z-index: 4;
    // background-image: url('https://i.pinimg.com/236x/e0/7d/cb/e07dcbc6e01a42972cca9e10830cd37d.jpg');
    // background-size: contain;

    input{
        background: none;
        border: none;
        width: 100%;
        padding-left: 8%;

    }

    
}