@import '../assest/styles/base.scss';

.Post{
    border: 1px solid purple;
    width: 100%;
    height: 350px;
    
    background-color: rgba( 255, 255, 255, 0.7);
    padding: 0px ;
    margin-bottom: 4%;
    // margin-right: 4px ;

    .details{
        display: flex;
        justify-content: space-between;
        padding: 2% 5%;
    }

    .image{
        height: 200px;
        // width: 100%;
        display: flex;
        // padding: 0px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img{
            width: 100%;
            // padding: 0px;

        }
    }

    // .likes{
    //     display: flex;
    //     flex-direction: row-reverse;
    //     padding: 2% 5%;
    //     align-items: center;
        
    //     .likesNumber{
    //         margin-right: 3%;
    //     }


    // }
    .description{
        padding: 2% 5%;
        width: 100%;
        overflow: hidden;
        // overflow: scroll;
        height: 80px;
    }
}
