@import '../assest/styles/base.scss';

.Menu {
    font-size: 26px;
    
    .menu-instagram{
        box-shadow: 0px 5px 10px 0px rgba(88, 68, 101, 1);
        text-align: center;
        
    }
    ul{
        z-index: 1;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-right: 0;
        box-shadow: 0px -5px 10px 0px rgba(88, 68, 101, 1);
    }
    
    .menu-instagram, ul{
        background: radial-gradient(circle, rgba(120,201,186,1) 29%, rgba(88,68,101,1) 100%);
    }
}

@include media-breakpoint-up(md) {
    .Menu {
        background: radial-gradient(circle, rgba(120,201,186,1) 29%, rgba(88,68,101,1) 100%);
        box-shadow: 0px 5px 10px 0px rgba(88, 68, 101, 1);
        z-index: 1;
        padding: 0 10%;
        
        .menu-instagram, ul{
            box-shadow: none;
            background: none;
        }
        .menu-instagram{
            text-align: start;
        }
        ul{
            position: static;
        }
    }
  }