@import '../assest/styles/base.scss';

.Login{
    height: 90vh;

    h2 {
        font-size: 40px;
        color: $color-secondary;
    }

    h3{
        color: $color-primary;   
    }

    Form {
        .error {
            height: 30px;
            padding-left: 39%;
        }
        button {
            background-color: white;
            width: 100%;
        }
        a{
            color: $color-secondary;
        }
    }
  
}