@import '../assest/styles/base.scss';

.Register{
    height: 100vh;
    
    h2 {
        margin-bottom: 10%;
        color: $color-primary;
    }
    Form {
        // padding: 0;
        margin-top: 10%;
        // z-index: -1;

        // top: 100;
        // margin-top: 60px;
        .error {
            height: 30px;
            padding-left: 39%;
        }
        button {
            margin-top: 10%;
            background-color: white;
            width: 100%;
        }
    }
  
}