@import '../../assest/styles/base.scss';

.PostLike{
    display: flex;
    flex-direction: row-reverse;
    padding: 2% 5%;
    align-items: center;
    
    .sumOfLikes{
        margin-right: 3%;
    }

    .userLiked{
        color: red;
    }


}