@import './assest/styles/base.scss';


    .app-body {
        font-family: 'Poppins';
        overflow-y: auto;
        height: 90vh;
        background-image: url('https://i.pinimg.com/236x/e0/7d/cb/e07dcbc6e01a42972cca9e10830cd37d.jpg');
        background-size: contain;
    }

    

