@import './assest/styles/base.scss';


    .app-body {
        font-family: 'Poppins';
        overflow-y: auto;
        height: 90vh;
        background-image: url('./assest/img/app_bg.jpg');
        background-size: contain;
        padding-top: 2%;
        


        @include media-breakpoint-up(md){
            padding: 2% 10%;
        }
    }

    

